.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 10;
}

@media screen and (max-width: 650px) {
  .header {
    height: 70px;
  }
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  background: #135B86;
}

@media screen and (max-width: 1220px) {
  .header__left {
    width: 230px;
  }
}

.header__logo {
  width: 160px;
}

@media screen and (max-width: 650px) {
  .header__logo {
    width: 140px;
  }
}

.header__right {
  display: flex;
  gap: 1px;
}

@media screen and (max-width: 1220px) {
  .header__right {
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
    height: 600px;
    width: 100vw;
    padding: 40px 10px 0;
    background: #135B86;
    z-index: 101;
    transition: .4s;
  }
}

@media screen and (max-width: 1220px) and (max-width: 650px) {
  .header__right {
    height: 400px;
  }
}

.header__filter {
  display: none;
}

@media screen and (max-width: 1220px) {
  .header__filter {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    transition: .4s;
    pointer-events: none;
  }
}

.header .isShow {
  visibility: visible;
  opacity: 1;
}

.header .header__link, .header .header__link--inpage, .header .header__link--contact, .header .header__link--inpage--contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 1220px) {
  .header .header__link, .header .header__link--inpage, .header .header__link--contact, .header .header__link--inpage--contact {
    width: 160px;
    height: 200px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 650px) {
  .header .header__link, .header .header__link--inpage, .header .header__link--contact, .header .header__link--inpage--contact {
    width: 125px;
    height: 75px;
    font-size: 15px;
  }
}

.header .header__link::before, .header .header__link--inpage::before, .header .header__link--contact::before, .header .header__link--inpage--contact::before {
  content: attr(data-english);
  display: block;
  font-weight: 400;
  font-size: 12px;
}

@media screen and (max-width: 650px) {
  .header .header__link::before, .header .header__link--inpage::before, .header .header__link--contact::before, .header .header__link--inpage--contact::before {
    font-size: 10px;
  }
}

.header__link, .header__link--inpage {
  width: 205px;
  background: #101010;
}

@media screen and (max-width: 1220px) {
  .header__link, .header__link--inpage {
    background: #fff;
    color: #101010 !important;
  }
}

.header__link::before, .header__link--inpage::before {
  color: #E35471;
}

.header__link--contact, .header__link--inpage--contact {
  width: 285px;
  background: #E35471;
}

.header__burgerContainer {
  position: relative;
  display: none;
  width: 80px;
  height: 80px;
  background: #E35471;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  z-index: 1000;
}

@media screen and (max-width: 1220px) {
  .header__burgerContainer {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .header__burgerContainer {
    width: 70px;
    height: 70px;
  }
}

.header .header__burger--1, .header .header__burger--2, .header .header__burger--3 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  transition: all .3s;
}

.header__burger--1 {
  transform: translateY(calc(-50% - 11px));
}

.header__burger--1.isOpen {
  transform: rotate(225deg);
}

.header__burger--2 {
  transform: translateY(-50%);
  opacity: 1;
}

.header__burger--2.isOpen {
  opacity: 0;
}

.header__burger--3 {
  transform: translateY(calc(-50% + 11px));
}

.header__burger--3.isOpen {
  transform: rotate(-45deg);
}
/*# sourceMappingURL=header.css.map */