.section, .section--trouble {
  width: 1080px;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media screen and (max-width: 1220px) {
  .section, .section--trouble {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .section, .section--trouble {
    width: 310px;
  }
}

.section--trouble {
  position: relative;
  width: 100vw;
  margin: 0;
  margin-bottom: 50px;
  padding: 60px calc((100vw - 1080px) / 2);
  background: #E35471;
}

@media screen and (max-width: 1220px) {
  .section--trouble {
    padding: 60px calc((100vw - 600px) / 2);
  }
}

@media screen and (max-width: 650px) {
  .section--trouble {
    padding: 60px calc((100vw - 310px) / 2);
  }
}

.section--trouble::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 175px 0 175px;
  border-color: #E35471 transparent transparent transparent;
}

.section__heading {
  position: relative;
  margin-top: 100px;
  margin-bottom: 45px;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .section__heading {
    font-size: 34px;
  }
}

.section__heading::before {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: auto;
  content: attr(data-english);
  font-size: 25px;
  font-weight: 400;
  color: #E35471;
}

@media screen and (max-width: 650px) {
  .section__heading::before {
    top: -20px;
    font-size: 19px;
  }
}

.section__heading--feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0 55px;
  font-size: 50px;
  font-weight: 900;
  color: #E35471;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 650px) {
  .section__heading--feature {
    font-size: 28px;
    margin: 50px 0 30px;
  }
}

.section__heading--trouble {
  width: max-content;
  color: #fff;
  margin: 0 auto 30px;
  padding: 10px 30px;
  border: 3px solid #fff;
  font-size: 36px;
  font-weight: 900;
}

@media screen and (max-width: 650px) {
  .section__heading--trouble {
    max-width: 100%;
    font-size: 25px;
    padding: 10px 15px;
  }
}

.section__headingImage {
  width: 330px;
  margin-bottom: 15px;
}

@media screen and (max-width: 650px) {
  .section__headingImage {
    width: 190px;
    margin-bottom: 10px;
  }
}

.section__heading--mallearn {
  margin: 130px 0 80px;
  font-size: 50px;
  font-weight: 900;
  color: #E35471;
  text-align: center;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 1220px) {
  .section__heading--mallearn {
    font-size: 45px;
  }
}

@media screen and (max-width: 650px) {
  .section__heading--mallearn {
    font-size: 30px;
    margin: 95px 0 40px;
  }
}

.section__subheading {
  display: block;
  padding-left: 4px;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .section__subheading {
    font-size: 13px;
  }
}

@media screen and (max-width: 650px) {
  .section__headingText--right {
    display: inline-block;
    width: 100%;
    text-align: right;
  }
}
/*# sourceMappingURL=section.css.map */