/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  appearance: checkbox;
}

[type="radio"] {
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: source-han-sans-japanese, sans-serif;
  color: #101010;
  background: #FCF4F4;
}

.nowrap {
  display: inline-block;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 10;
}

@media screen and (max-width: 650px) {
  .header {
    height: 70px;
  }
}

.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  background: #135B86;
}

@media screen and (max-width: 1220px) {
  .header__left {
    width: 230px;
  }
}

.header__logo {
  width: 160px;
}

@media screen and (max-width: 650px) {
  .header__logo {
    width: 140px;
  }
}

.header__right {
  display: flex;
  gap: 1px;
}

@media screen and (max-width: 1220px) {
  .header__right {
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
    height: 600px;
    width: 100vw;
    padding: 40px 10px 0;
    background: #135B86;
    z-index: 101;
    transition: .4s;
  }
}

@media screen and (max-width: 1220px) and (max-width: 650px) {
  .header__right {
    height: 400px;
  }
}

.header__filter {
  display: none;
}

@media screen and (max-width: 1220px) {
  .header__filter {
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
    transition: .4s;
    pointer-events: none;
  }
}

.header .isShow {
  visibility: visible;
  opacity: 1;
}

.header .header__link, .header .header__link--inpage, .header .header__link--contact, .header .header__link--inpage--contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 1220px) {
  .header .header__link, .header .header__link--inpage, .header .header__link--contact, .header .header__link--inpage--contact {
    width: 160px;
    height: 200px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 650px) {
  .header .header__link, .header .header__link--inpage, .header .header__link--contact, .header .header__link--inpage--contact {
    width: 125px;
    height: 75px;
    font-size: 15px;
  }
}

.header .header__link::before, .header .header__link--inpage::before, .header .header__link--contact::before, .header .header__link--inpage--contact::before {
  content: attr(data-english);
  display: block;
  font-weight: 400;
  font-size: 12px;
}

@media screen and (max-width: 650px) {
  .header .header__link::before, .header .header__link--inpage::before, .header .header__link--contact::before, .header .header__link--inpage--contact::before {
    font-size: 10px;
  }
}

.header__link, .header__link--inpage {
  width: 205px;
  background: #101010;
}

@media screen and (max-width: 1220px) {
  .header__link, .header__link--inpage {
    background: #fff;
    color: #101010 !important;
  }
}

.header__link::before, .header__link--inpage::before {
  color: #E35471;
}

.header__link--contact, .header__link--inpage--contact {
  width: 285px;
  background: #E35471;
}

.header__burgerContainer {
  position: relative;
  display: none;
  width: 80px;
  height: 80px;
  background: #E35471;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  z-index: 1000;
}

@media screen and (max-width: 1220px) {
  .header__burgerContainer {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .header__burgerContainer {
    width: 70px;
    height: 70px;
  }
}

.header .header__burger--1, .header .header__burger--2, .header .header__burger--3 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  transition: all .3s;
}

.header__burger--1 {
  transform: translateY(calc(-50% - 11px));
}

.header__burger--1.isOpen {
  transform: rotate(225deg);
}

.header__burger--2 {
  transform: translateY(-50%);
  opacity: 1;
}

.header__burger--2.isOpen {
  opacity: 0;
}

.header__burger--3 {
  transform: translateY(calc(-50% + 11px));
}

.header__burger--3.isOpen {
  transform: rotate(-45deg);
}

.eyecatch {
  position: relative;
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 650px) {
  .eyecatch {
    height: 400px;
  }
}

.eyecatch__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eyecatch__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.eyecatch__title {
  position: absolute;
  top: calc(50% + 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.88));
  width: 1080px;
  line-height: 1.3;
  font-weight: 900;
  font-size: 50px;
  color: #fff;
}

@media screen and (max-width: 1220px) {
  .eyecatch__title {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .eyecatch__title {
    width: 310px;
    font-size: 25px;
  }
}

.eyecatch__subtitle {
  display: block;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 650px) {
  .eyecatch__subtitle {
    font-size: 14px;
  }
}

.eyecatch__text {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
}

@media screen and (max-width: 650px) {
  .eyecatch__text {
    font-size: 13px;
  }
}

.section, .section--trouble {
  width: 1080px;
  margin: -10px auto 0;
  padding-top: 10px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1220px) {
  .section, .section--trouble {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .section, .section--trouble {
    width: 310px;
  }
}

.section--trouble {
  position: relative;
  width: 100vw;
  margin: 0;
  margin-bottom: 50px;
  padding: 60px calc((100vw - 1080px) / 2);
  background: #E35471;
}

@media screen and (max-width: 1220px) {
  .section--trouble {
    padding: 60px calc((100vw - 600px) / 2);
  }
}

@media screen and (max-width: 650px) {
  .section--trouble {
    padding: 60px calc((100vw - 310px) / 2);
  }
}

.section--trouble::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 175px 0 175px;
  border-color: #E35471 transparent transparent transparent;
}

.section__heading {
  position: relative;
  margin-top: 100px;
  margin-bottom: 45px;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .section__heading {
    font-size: 34px;
  }
}

.section__heading::before {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: auto;
  content: attr(data-english);
  font-size: 25px;
  font-weight: 400;
  color: #E35471;
}

@media screen and (max-width: 650px) {
  .section__heading::before {
    top: -20px;
    font-size: 19px;
  }
}

.section__heading--feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0 55px;
  font-size: 50px;
  font-weight: 900;
  color: #E35471;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 650px) {
  .section__heading--feature {
    font-size: 28px;
    margin: 50px 0 30px;
  }
}

.section__heading--trouble {
  width: max-content;
  color: #fff;
  margin: 0 auto 30px;
  padding: 10px 30px;
  border: 3px solid #fff;
  font-size: 36px;
  font-weight: 900;
}

@media screen and (max-width: 650px) {
  .section__heading--trouble {
    max-width: 100%;
    font-size: 25px;
    padding: 10px 15px;
  }
}

.section__headingImage {
  width: 330px;
  margin-bottom: 15px;
}

@media screen and (max-width: 650px) {
  .section__headingImage {
    width: 190px;
    margin-bottom: 10px;
  }
}

.section__heading--mallearn {
  margin: 130px 0 80px;
  font-size: 50px;
  font-weight: 900;
  color: #E35471;
  text-align: center;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 1220px) {
  .section__heading--mallearn {
    font-size: 45px;
  }
}

@media screen and (max-width: 650px) {
  .section__heading--mallearn {
    font-size: 30px;
    margin: 95px 0 40px;
  }
}

.section__subheading {
  display: block;
  padding-left: 4px;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .section__subheading {
    font-size: 13px;
  }
}

@media screen and (max-width: 650px) {
  .section__headingText--right {
    display: inline-block;
    width: 100%;
    text-align: right;
  }
}

.cardList {
  display: grid;
  gap: 180px;
}

@media screen and (max-width: 1220px) {
  .cardList {
    gap: 100px;
  }
}

@media screen and (max-width: 650px) {
  .cardList {
    gap: 80px;
  }
}

.cardList__item {
  display: flex;
  flex-direction: column;
}

.cardList__item:nth-of-type(even) {
  flex-direction: column-reverse;
}

@media screen and (max-width: 1220px) {
  .cardList__item:nth-of-type(even) {
    flex-direction: column;
  }
}

.cardList__item:nth-of-type(even) .cardList__number {
  left: 50px;
  right: auto;
}

@media screen and (max-width: 650px) {
  .cardList__item:nth-of-type(even) .cardList__number {
    left: auto;
    right: 20px;
  }
}

.cardList__item:nth-of-type(even) .cardList__card--image {
  align-self: flex-end;
  z-index: 10;
}

.cardList__item:nth-of-type(even) .cardList__card--content {
  align-self: flex-start;
  padding-right: 100px;
  padding-left: 140px;
}

@media screen and (max-width: 1220px) {
  .cardList__item:nth-of-type(even) .cardList__card--content {
    padding: 45px 55px;
  }
}

@media screen and (max-width: 650px) {
  .cardList__item:nth-of-type(even) .cardList__card--content {
    padding: 50px 15px 35px;
  }
}

@media screen and (max-width: 1220px) {
  .cardList__item:nth-of-type(even) .cardList__title, .cardList__item:nth-of-type(even) .cardList__title--withIcon, .cardList__item:nth-of-type(even) .cardList__text {
    margin-right: 0;
    margin-left: 75px;
  }
}

@media screen and (max-width: 650px) {
  .cardList__item:nth-of-type(even) .cardList__title, .cardList__item:nth-of-type(even) .cardList__title--withIcon, .cardList__item:nth-of-type(even) .cardList__text {
    margin-left: 0;
  }
}

.cardList .cardList__card, .cardList .cardList__card--image, .cardList .cardList__card--content {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.cardList__card--image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 220px;
  border: 6px solid #E35471;
  background: #fff;
}

@media screen and (max-width: 650px) {
  .cardList__card--image {
    width: 230px;
    height: 140px;
  }
}

.cardList__card--content {
  position: relative;
  width: 840px;
  padding: 64px 100px;
  padding-right: 140px;
  background: #E35471;
  align-self: flex-end;
  margin: -40px 0;
}

@media screen and (max-width: 1220px) {
  .cardList__card--content {
    width: 100%;
    margin: 10px 0;
    padding: 45px 55px;
  }
}

@media screen and (max-width: 650px) {
  .cardList__card--content {
    padding: 50px 15px 35px;
  }
}

.cardList__image {
  width: 100%;
  margin: 0 auto;
}

.cardList__number {
  position: absolute;
  top: 45px;
  right: 45px;
  transform: rotate(90deg);
  font-size: 40px;
  font-weight: 200;
  color: #fff;
}

@media screen and (max-width: 650px) {
  .cardList__number {
    font-size: 31px;
    transform: rotate(0);
    top: 15px;
    right: 20px;
  }
}

.cardList__number::after {
  position: absolute;
  top: 50%;
  right: -155px;
  transform: translateY(50%);
  content: "";
  display: block;
  width: 150px;
  height: 1px;
  background: #fff;
}

@media screen and (max-width: 1220px) {
  .cardList__number::after {
    right: -85px;
    width: 80px;
  }
}

@media screen and (max-width: 650px) {
  .cardList__number::after {
    display: none;
  }
}

.cardList .cardList__title, .cardList .cardList__title--withIcon {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1220px) {
  .cardList .cardList__title, .cardList .cardList__title--withIcon {
    margin-right: 90px;
  }
}

@media screen and (max-width: 650px) {
  .cardList .cardList__title, .cardList .cardList__title--withIcon {
    margin-right: 0;
    font-size: 26px;
  }
}

.cardList__title--withIcon {
  position: relative;
  padding-left: 85px;
  margin-bottom: 15px;
}

@media screen and (max-width: 650px) {
  .cardList__title--withIcon {
    padding-left: 65px;
  }
}

.cardList__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .cardList__icon {
    width: 55px;
    height: 55px;
  }
}

.cardList__subtitle {
  display: block;
  font-size: 18px;
}

@media screen and (max-width: 650px) {
  .cardList__subtitle {
    font-size: 13px;
  }
}

.cardList__text {
  margin: 8px 0 25px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
  color: #fff;
}

@media screen and (max-width: 1220px) {
  .cardList__text {
    margin-right: 90px;
  }
}

@media screen and (max-width: 650px) {
  .cardList__text {
    margin-right: 0;
    font-size: 15px;
  }
}

.button--sm__decoration--pink, .button__decoration--blue, .button__decoration--pink {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}

.button--sm__decoration--pink::before, .button__decoration--blue::before, .button__decoration--pink::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(43% + 4px);
  transform: translateX(50%);
  width: 50%;
  height: 3px;
  margin: auto;
  background: #fff;
}

.button--sm__decoration--pink::after, .button__decoration--blue::after, .button__decoration--pink::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(18% - 4px);
  width: 16px;
  height: 16px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin: auto;
}

.button, .button--sm {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  text-align: center;
  overflow: hidden;
}

.button {
  padding: 25px 0;
  padding-right: 120px;
  border-radius: 45px;
  font-size: 20px;
}

@media screen and (max-width: 1220px) {
  .button {
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  .button {
    padding-right: 70px;
    font-size: 15px;
  }
}

.button--sm {
  padding: 16px 0;
  padding-right: 86px;
  border-radius: 73px;
  font-size: 12px;
}

@media screen and (max-width: 650px) {
  .button--sm {
    padding-right: 70px;
  }
}

.button--sm__decoration--pink {
  width: 100px;
  background: #E35471;
}

@media screen and (max-width: 650px) {
  .button--sm__decoration--pink {
    width: 80px;
  }
}

.button__decoration--blue {
  width: 140px;
  background: #135B86;
}

@media screen and (max-width: 650px) {
  .button__decoration--blue {
    width: 80px;
  }
}

.button__decoration--pink {
  width: 140px;
  background: #E35471;
}

@media screen and (max-width: 650px) {
  .button__decoration--pink {
    width: 80px;
  }
}

[data-ruby] {
  position: relative;
}

[data-ruby]::before {
  content: attr(data-ruby);
  position: absolute;
  top: -1em;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.5em;
  font-weight: 400;
  text-align: center;
}

.members {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

@media screen and (max-width: 1220px) {
  .members {
    flex-direction: column;
    gap: 15px;
  }
}

.members__card {
  flex-grow: 1;
  position: relative;
  width: 335px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media screen and (max-width: 1220px) and (min-width: 651px) {
  .members__card {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 650px) {
  .members__card {
    width: 100%;
  }
}

.members__image {
  display: block;
  width: 100%;
  height: 222px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

@media screen and (max-width: 1220px) and (min-width: 651px) {
  .members__image {
    width: 200px;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
}

.members__note {
  position: absolute;
  top: 155px;
  right: -15px;
  width: 160px;
  padding: 17px;
  background: #E35471;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  color: #fff;
}

@media screen and (max-width: 1220px) and (min-width: 651px) {
  .members__note {
    text-align: center;
    top: 40px;
  }
}

@media screen and (max-width: 650px) {
  .members__note {
    font-size: 15px;
    right: 10px;
  }
}

.members__note::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 64px;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  background: #d03c5a;
  z-index: -1;
}

@media screen and (max-width: 650px) {
  .members__note::after {
    display: none;
  }
}

.members__name {
  margin: 50px 0 10px;
  font-size: 28px;
  font-weight: 500;
}

@media screen and (max-width: 1220px) and (min-width: 651px) {
  .members__name {
    margin-bottom: 5px;
  }
}

.members__position {
  font-size: 14px;
  color: #E35471;
}

.members__message {
  margin: 30px 15px 35px;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.8;
}

@media screen and (max-width: 1220px) and (min-width: 651px) {
  .members__message {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media screen and (max-width: 650px) {
  .members__message {
    font-size: 13px;
  }
}

.contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel, .sns__acount, .sns__tweets, .philosophy__item, .feature__item, .troubles__situation, .mallearn__feature, .mallearnPricing {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  background: #fff;
}

.table {
  width: 970px;
  margin: 3px auto 0;
}

@media screen and (max-width: 1220px) {
  .table {
    width: 100%;
  }
}

.table__row {
  display: block;
  width: 100%;
  margin-top: -3px;
  border: 3px solid #cbcbcb;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
}

.table__row:first-child {
  border-radius: 10px 10px 0 0;
}

.table__row:last-child {
  border-radius: 0 0 10px 10px;
}

.table__heding {
  width: 320px;
  padding: 25px 85px;
  font-size: 25px;
  font-weight: 500;
}

@media screen and (max-width: 1220px) {
  .table__heding {
    width: 250px;
    padding: 25px 50px;
  }
}

@media screen and (max-width: 650px) {
  .table__heding {
    display: block;
    padding-left: 32px;
    padding-bottom: 10px;
    font-size: 20px;
  }
}

.table__data {
  padding: 25px 0;
  font-size: 20px;
  font-weight: 200;
  padding-right: 50px;
}

@media screen and (max-width: 650px) {
  .table__data {
    padding: 10px 10px 25px 50px;
    font-size: 15px;
  }
}

.contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel, .sns__acount, .sns__tweets, .philosophy__item, .feature__item, .troubles__situation, .mallearn__feature, .mallearnPricing {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  background: #fff;
}

.contact {
  display: grid;
  grid-template-columns: 485px 1fr;
  gap: 15px;
  grid-template-rows: 135px 135px;
  justify-content: space-between;
}

@media screen and (max-width: 1220px) {
  .contact {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
}

.contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 55px;
  gap: 15px;
}

@media screen and (max-width: 650px) {
  .contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel {
    padding: 30px 40px;
  }
}

.contact__category--email {
  grid-row: 1 / 3;
}

.contact__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__container:not(:last-child) {
  margin-bottom: 35px;
}

@media screen and (max-width: 650px) {
  .contact__container {
    flex-direction: column;
  }
}

.contact__title {
  font-size: 28px;
  font-weight: 500;
  flex-shrink: 0;
}

@media screen and (max-width: 650px) {
  .contact__title {
    font-size: 22px;
  }
}

.contact__title::after {
  content: attr(data-english);
  display: block;
  margin: auto;
  text-align: center;
  font-size: 12px;
  color: #E35471;
}

@media screen and (max-width: 650px) {
  .contact__title::after {
    font-size: 10px;
  }
}

.contact__colon {
  margin: 0 10px;
  font-size: 28px;
  color: #E35471;
}

@media screen and (max-width: 650px) {
  .contact__colon {
    transform: rotate(90deg);
  }
}

.contact__adress {
  font-size: 17px;
  font-weight: 500;
}

@media screen and (max-width: 650px) {
  .contact__adress {
    font-size: 15px;
  }
}

.contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel, .sns__acount, .sns__tweets, .philosophy__item, .feature__item, .troubles__situation, .mallearn__feature, .mallearnPricing {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  background: #fff;
}

.sns {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 1220px) {
  .sns {
    flex-direction: column;
  }
}

.sns__acount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 40px;
}

@media screen and (max-width: 1220px) {
  .sns__acount {
    flex-direction: row;
    gap: 5px;
  }
}

@media screen and (max-width: 650px) {
  .sns__acount {
    padding: 20px;
  }
}

.sns__id {
  font-size: 25px;
  font-weight: 500;
  color: #00C4FD;
}

@media screen and (max-width: 650px) {
  .sns__id {
    font-size: 18px;
  }
}

.sns__logo {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  background: #00C4FD;
  font-size: 30px;
  color: #fff;
  line-height: 1.5;
}

@media screen and (max-width: 650px) {
  .sns__logo {
    width: 40px;
    height: 40px;
  }
}

.sns__tweets {
  padding: 20px;
}

.sns__tweets iframe {
  width: 400px;
  height: 450px;
}

@media screen and (max-width: 1220px) {
  .sns__tweets iframe {
    width: 100%;
    height: 700px;
  }
}

.footer {
  margin-top: auto;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2) inset;
  text-align: center;
}

.footer__logo {
  width: 254px;
}

@media screen and (max-width: 650px) {
  .footer__logo {
    width: 220px;
  }
}

.footer__copyright {
  font-size: 13px;
  font-weight: 200;
}

.contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel, .sns__acount, .sns__tweets, .philosophy__item, .feature__item, .troubles__situation, .mallearn__feature, .mallearnPricing {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  background: #fff;
}

.philosophy {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1220px) {
  .philosophy {
    flex-direction: column;
    gap: 15px;
  }
}

.philosophy__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 355px;
  padding: 12px;
  background: #fff;
}

@media screen and (max-width: 1220px) {
  .philosophy__item {
    width: 100%;
    height: auto;
    padding: 70px 15px;
  }
}

.philosophy__title {
  margin-bottom: 40px;
  font-size: 29px;
  font-weight: 500;
  color: #E35471;
}

@media screen and (max-width: 650px) {
  .philosophy__title {
    font-size: 24px;
  }
}

.philosophy__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: source-han-serif-japanese, serif;
  font-size: 22px;
  line-height: 1.4;
  text-align: center;
  height: 100px;
}

@media screen and (max-width: 1220px) {
  .philosophy__text {
    display: block;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .philosophy__text {
    font-size: 15px;
  }
}

.sdgs__goal--4, .sdgs__goal--1, .sdgs__goal--3, .sdgs__goal--5, .sdgs__goal--10 {
  position: relative;
  border: 3px solid #000;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
}

.sdgs__heading {
  margin: 120px 0 50px;
  text-align: center;
}

.sdgs__headingImage {
  width: 500px;
}

@media screen and (max-width: 650px) {
  .sdgs__headingImage {
    width: 100%;
  }
}

.sdgs__headingText {
  display: block;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 500;
}

@media screen and (max-width: 650px) {
  .sdgs__headingText {
    font-size: 14px;
  }
}

.sdgs__grid {
  display: grid;
  grid-template-columns: 226px 412px 412px;
  grid-template-rows: 105px 105px;
  justify-content: space-between;
  gap: 15px 0;
}

@media screen and (max-width: 1220px) {
  .sdgs__grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 105px);
  }
}

@media screen and (max-width: 650px) {
  .sdgs__grid {
    grid-template-rows: repeat(5, 70px);
  }
}

.sdgs__goalText {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  height: 100%;
}

.sdgs__goalImage {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 100%;
}

.sdgs__goal--square {
  width: 100%;
}

.sdgs__goal--squareContainer {
  grid-row: 1/3;
}

@media screen and (max-width: 1220px) {
  .sdgs__goal--squareContainer {
    display: none;
  }
}

.sdgs__goal--4 {
  display: none;
  border: 0;
  background: #C50E28;
}

@media screen and (max-width: 1220px) {
  .sdgs__goal--4 {
    display: block;
  }
}

.sdgs__goal--1 {
  border-color: #E4011E;
}

.sdgs__goal--3 {
  border-color: #1B973A;
}

.sdgs__goal--5 {
  border-color: #E83418;
}

.sdgs__goal--10 {
  border-color: #DC097B;
}

.contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel, .sns__acount, .sns__tweets, .philosophy__item, .feature__item, .troubles__situation, .mallearn__feature, .mallearnPricing {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  background: #fff;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 15px;
}

@media screen and (max-width: 1220px) {
  .feature {
    grid-template-columns: 100%;
  }
}

.feature__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.feature__item:first-child {
  grid-row: 1/3;
}

.feature__item:last-child {
  grid-row: 2/4;
}

@media screen and (max-width: 1220px) {
  .feature__item {
    grid-row: auto !important;
  }
}

.feature__title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .feature__title {
    font-size: 25px;
  }
}

.feature__text {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}

.feature__text:last-of-type:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 650px) {
  .feature__text {
    font-size: 13px;
  }
}

.pricing__heading, .pricing__heading--sum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  background: #fff;
  border: 1px solid #101010;
  margin-top: -1px;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.pricing {
  display: grid;
  grid-template-columns: 185px 1fr 1fr 1fr;
}

@media screen and (max-width: 1220px) {
  .pricing {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.pricing__left {
  display: grid;
  grid-template-rows: 100px 210px 70px 120px 70px;
}

@media screen and (max-width: 1220px) {
  .pricing__left {
    display: none;
  }
}

.pricing__heading--sum {
  border-top: 5px double #E35471;
}

.pricing__note {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.pricing__message {
  text-align: center;
  padding-bottom: 10px;
}

.plan__cell, .plan__cell--sum, .plan__cell--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
  padding: 20px;
  border: 1px solid #101010;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  text-align: center;
  font-size: 17px;
}

@media screen and (max-width: 1220px) {
  .plan__cell, .plan__cell--sum, .plan__cell--title {
    margin-top: 0;
    padding: 10px 0;
    border: 0;
    box-shadow: none;
    text-align: left;
  }
}

.plan {
  display: grid;
  grid-template-rows: 100px 210px 70px 120px 70px;
  margin-left: -1px;
  background: #fff;
}

@media screen and (max-width: 1220px) {
  .plan {
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
    grid-template-rows: repeat(6, auto);
  }
}

@media screen and (max-width: 650px) {
  .plan {
    padding: 30px;
  }
}

@media screen and (max-width: 1220px) {
  .plan__cell {
    display: grid;
    grid-template-columns: 120px 1fr;
  }
}

@media screen and (max-width: 650px) {
  .plan__cell {
    grid-template-columns: 100%;
    padding-left: 15px;
  }
}

.plan__cell--sum {
  border-top: 5px double #E35471;
  padding-left: 15px;
}

@media screen and (max-width: 1220px) {
  .plan__cell--sum {
    display: grid;
    grid-template-columns: 120px 1fr;
  }
}

@media screen and (max-width: 650px) {
  .plan__cell--sum {
    grid-template-columns: 100%;
  }
}

.plan__name {
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 1220px) {
  .plan__name {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 700;
  }
}

.plan__heading {
  display: none;
}

@media screen and (max-width: 1220px) {
  .plan__heading {
    display: block;
    width: 120px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
  }
}

@media screen and (max-width: 650px) {
  .plan__heading {
    text-align: left;
    margin-left: -15px;
    margin-bottom: 10px;
  }
}

.plan__note {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.plan__tagContainer {
  width: 100%;
}

@media screen and (max-width: 1220px) {
  .plan__tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.plan .plan__tag, .plan .plan__tag--disabled {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.plan .plan__tag:not(:first-child), .plan .plan__tag--disabled:not(:first-child) {
  margin-top: 10px;
}

@media screen and (max-width: 1220px) {
  .plan .plan__tag, .plan .plan__tag--disabled {
    width: auto;
    margin: 0 !important;
    padding: 10px 20px;
  }
}

.plan__tag {
  background: #E35471;
}

.plan__tag--disabled {
  background: #E3CCD1;
}

.tag {
  display: flex;
  align-items: center;
  gap: 3px;
  float: left;
  width: auto;
  padding: 5px 10px;
  border: 1px solid #E35471;
  border-radius: 5px;
  color: #E35471;
  font-size: 11px;
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .tag {
    padding: 3px 8px;
  }
}

.tag__number {
  font-size: 16px;
}

.contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel, .sns__acount, .sns__tweets, .philosophy__item, .feature__item, .troubles__situation, .mallearn__feature, .mallearnPricing {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  background: #fff;
}

.troubles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

@media screen and (max-width: 1220px) {
  .troubles {
    grid-template-columns: 100%;
    gap: 50px 0;
  }
}

.troubles__item {
  display: flex;
  position: relative;
}

.troubles__item:nth-child(odd) {
  flex-direction: row-reverse;
}

@media screen and (min-width: 1221px) {
  .troubles__item:nth-child(odd) .troubles__balloonContainer {
    align-items: flex-end;
  }
  .troubles__item:nth-child(odd) .troubles__balloon {
    margin-right: 20px;
  }
  .troubles__item:nth-child(odd) .troubles__balloon::before {
    right: 0;
    transform: translate(100%, -50%);
  }
}

@media screen and (max-width: 1220px) {
  .troubles__item:nth-child(odd) .troubles__balloonContainer {
    justify-items: left;
  }
}

@media screen and (min-width: 1221px) {
  .troubles__item:nth-child(even) .troubles__balloonContainer {
    align-items: flex-start;
  }
  .troubles__item:nth-child(even) .troubles__balloon {
    margin-left: 20px;
  }
  .troubles__item:nth-child(even) .troubles__balloon::before {
    left: 0;
    transform: translate(-100%, -50%) rotate(180deg);
  }
}

@media screen and (max-width: 1220px) {
  .troubles__item:nth-child(even) .troubles__balloonContainer {
    justify-items: right;
  }
}

@media screen and (max-width: 650px) {
  .troubles__item:nth-child(even) .troubles__balloonContainer {
    justify-items: left;
  }
}

@media screen and (max-width: 650px) {
  .troubles__item {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 15px;
  }
}

.troubles__situation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 180px;
  width: 180px;
}

@media screen and (max-width: 1220px) {
  .troubles__situation {
    height: 120px;
    width: 120px;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .troubles__situation {
    margin-left: 0;
    width: 100%;
    height: calc(100% - 28px);
  }
}

.troubles__situationText {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #E35471;
  text-align: center;
}

@media screen and (max-width: 1220px) {
  .troubles__situationText {
    color: #fff;
    bottom: -25px;
  }
}

.troubles__situationImage {
  width: 100%;
}

.troubles__balloonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

@media screen and (max-width: 1220px) {
  .troubles__balloonContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px 140px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 650px) {
  .troubles__balloonContainer {
    position: static;
    grid-template-columns: 100%;
    transform: none;
  }
}

.troubles__balloon {
  position: relative;
  background: #fff;
  padding: 10px 15px;
  border-radius: 3px;
}

@media screen and (max-width: 1220px) and (min-width: 651px) {
  .troubles__balloon:nth-of-type(odd) {
    margin-right: 20px;
  }
  .troubles__balloon:nth-of-type(odd)::before {
    right: 0;
    transform: translate(100%, -50%);
  }
  .troubles__balloon:nth-of-type(even) {
    margin-left: 20px;
  }
  .troubles__balloon:nth-of-type(even)::before {
    left: 0;
    transform: translate(-100%, -50%) rotate(180deg);
  }
}

@media screen and (max-width: 650px) {
  .troubles__balloon {
    margin-left: 20px;
    font-size: 12px;
  }
  .troubles__balloon::before {
    left: 0;
    transform: translate(-100%, -50%) rotate(180deg);
  }
}

.troubles__balloon::before {
  position: absolute;
  top: 50%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 11px;
  border-color: transparent transparent transparent #fff;
}

.highlight {
  display: inline-block;
  background: linear-gradient(transparent 40%, rgba(227, 84, 113, 0.5) 40%);
}

.contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel, .sns__acount, .sns__tweets, .philosophy__item, .feature__item, .troubles__situation, .mallearn__feature, .mallearnPricing {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  background: #fff;
}

.mallearn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mallearn__feature {
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 40px 45px;
}

@media screen and (max-width: 1220px) {
  .mallearn__feature {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .mallearn__feature {
    padding: 40px 25px;
  }
}

.mallearn__left {
  width: 370px;
  flex-shrink: 0;
}

@media screen and (max-width: 1220px) {
  .mallearn__left {
    width: 100%;
  }
}

.mallearn__title {
  clear: left;
  font-size: 32px;
  font-weight: 600;
}

@media screen and (max-width: 650px) {
  .mallearn__title {
    font-size: 28px;
  }
}

.mallearn .mallearn__text, .mallearn .mallearn__text--left {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}

.mallearn__text:not(:last-child) {
  margin-bottom: 15px;
}

.mallearn__text--left {
  padding-bottom: 15px;
}

.mallearn__right {
  flex-grow: 1;
}

@media screen and (max-width: 1220px) {
  .mallearn__right {
    width: 100%;
  }
}

.mallearn__heading {
  font-size: 20px;
  color: #E35471;
  font-weight: 500;
}

@media screen and (max-width: 650px) {
  .mallearn__heading {
    font-size: 18px;
  }
}

.contact .contact__category--email, .contact .contact__category--form, .contact .contact__category--tel, .sns__acount, .sns__tweets, .philosophy__item, .feature__item, .troubles__situation, .mallearn__feature, .mallearnPricing {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) inset;
  background: #fff;
}

.mallearnPricing {
  padding: 100px 40px;
  text-align: center;
}

.mallearnPricing__title {
  color: #E35471;
  font-size: 27px;
  font-weight: 600;
}

.mallearnPricing__text {
  margin-top: 10px;
}

.band {
  background: #E35471;
  padding: 90px 0;
  margin: 40px 0 60px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset;
}

.band__title {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 1220px) {
  .band__title {
    font-size: 45px;
  }
}

@media screen and (max-width: 650px) {
  .band__title {
    font-size: 30px;
  }
}

.band__buttonContainer {
  display: flex;
  gap: 15px;
  width: 1080px;
  margin: 30px auto 0;
}

@media screen and (max-width: 1220px) {
  .band__buttonContainer {
    width: 600px;
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .band__buttonContainer {
    width: 310px;
  }
}

.note {
  display: inline-block;
  color: #333;
  font-size: 9px;
}

.preparing {
  margin-top: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .preparing {
    margin-top: 150px;
  }
}

.preparing__image {
  width: 200px;
  margin: 0 auto 30px;
}

.preparing__text {
  color: #E35471;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .preparing__text {
    font-size: 20px;
  }
}

.preparing__text--small {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .preparing__text--small {
    font-size: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */