@import "../common/color.scss";

body {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
  font-family: source-han-sans-japanese, sans-serif;
  color: $black;
  background:#FCF4F4;
}