@import "../common/color.scss", "../common/breakpoints.scss";

.cardList {
  display: grid;
  gap: 180px;
  @include md {gap: 100px;}
  @include sm {gap: 80px;}
  &__item {
    display: flex;
    flex-direction: column;
    &:nth-of-type(even) {
      flex-direction: column-reverse;
      @include md {flex-direction: column;}
      .cardList{
        &__number {
          left: 50px;
          right: auto;
          @include sm {
            left: auto;
            right: 20px;}
        }
        &__card {
          &--image {
            align-self: flex-end;
          }
          &--content {
            align-self: flex-start;
            padding-right: 100px;
            padding-left: 140px;
            @include md {padding: 45px 55px;}
            @include sm {padding: 50px 15px 35px;}
          }
        }
        &__title,
        &__title--withIcon,
        &__text {
          @include md {margin-right: 0; margin-left: 100px;}
          @include sm {margin-left: 0;}
        }
      }
    }
  }


  %card {
    box-shadow: 3px 3px 6px rgba(#000, .2);
    border-radius: 20px;
  }
  &__card {
    @extend %card;
    &--image {
      @extend %card;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 360px;
      height: 220px;
      border: 6px solid $pink;
      background: #fff;
      @include sm {width: 230px; height: 140px;}
    }
    &--content {
      @extend %card;
      position: relative;
      width: 840px;
      padding: 64px 100px;
      padding-right: 140px;
      background: $pink;
      align-self: flex-end;
      margin: -40px 0;
      z-index: -1;
      @include md {
        width: 100%;
        margin: 10px 0;
        padding: 45px 55px;}
      @include sm {padding: 50px 15px 35px;}
    }
  }
  &__image {
    height: 100%;
    margin: 0 auto;
  }

  &__number {
    position: absolute;
    top: 45px;
    right: 45px;
    transform: rotate(90deg);
    font-size: 44px;
    font-weight: 200;
    color: #fff;
    @include sm {
      font-size: 31px;
      transform: rotate(0);
      top: 15px;
      right: 20px;}
    &::after {
      position: absolute;
      top: 50%;
      right: -155px;
      transform: translateY(50%);
      content: "";
      display: block;
      width: 150px;
      height: 2px;
      background: #fff;
      @include md {
        right: -105px;
        width: 100px;}
      @include sm {
        display: none;}
    }
  }
  %title {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    @include md {margin-right: 90px;}
    @include sm {
      margin-right: 0;
      font-size: 26px;}
  }
  &__title {
    @extend %title;
    &--withIcon {
      position: relative;
      @extend %title;
      padding-left: 85px;
      margin-bottom: 15px;
      @include sm {padding-left: 65px;}
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border-radius: 5px;
    @include sm {
      width: 55px;
      height: 55px;}
  }
  &__subtitle {
    display: block;
    font-size: 18px;
    @include sm {font-size: 13px;}
  }
  &__text {
    margin: 8px 0 25px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.4;
    color: #fff;
    @include md {margin-right: 90px;}
    @include sm {margin-right: 0; font-size: 15px;}
  }
}