@import "../common/color.scss", "../common/breakpoints.scss";

.members {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @include md {
    flex-direction: column;
    gap: 15px;
  }
  &__card {
    position: relative;
    width: 335px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(#000, .2);
    text-align: center;
    @include onlyMd {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 30px;
      width: 100%;
      text-align: left;}
    @include sm {
      width: 100%;}
  }
  &__image {
    display: block;
    width: 100%;
    height: 222px;
    border-radius: 10px 10px 0 0 ;
    object-fit: cover;
    @include onlyMd {
      width: 200px;
      height: 100%;
      border-radius: 10px 0 0 10px;
    }
  }
  &__note {
    position: absolute;
    top: 155px;
    right: -15px;
    width: 160px;
    padding: 17px;
    background: $pink;
    box-shadow: 0 3px 6px rgba(#000, .2);
    font-size: 17px;
    color: #fff;
    @include onlyMd {
      text-align: center;
      top: 40px;}
    @include sm {
      font-size: 15px;
      right: 10px;}
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 64px;
      clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
      background: #d03c5a;
      z-index: -1;
      @include sm {display: none;}
    }
  }
  &__name {
    margin: 50px 0 10px;
    font-size: 28px;
    font-weight: 500;
    @include onlyMd {
      margin-bottom: 5px;
    }
  }
  &__position {
    font-size: 14px;
    color: $pink;
  }
  &__message {
    margin: 30px 15px 35px;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.8;
    @include onlyMd {
      margin-left: 0;
      margin-right: 30px;}
    @include sm {
      font-size: 13px;}
  }
}