@import "../common/color.scss", "../common/dent.scss", "../common/breakpoints.scss";

.philosophy {
  display: flex;
  justify-content: space-between;
  @include md {
    flex-direction: column;
    gap: 15px;}
  &__item {
    @extend %dent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 355px;
    height: 355px;
    padding: 12px;
    background: #fff;
    @include md {
      width: 100%;
      height: auto;
      padding: 70px 15px;}
  }
  &__title {
    margin-bottom: 40px;
    font-size: 29px;
    font-weight: 500;
    color: $pink;
    @include sm {font-size: 24px;}
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: source-han-serif-japanese, serif;
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    height: 100px;
    @include md {
      display: block;
      height: auto;}
    @include sm {font-size: 15px;}
  }
}