@import "../common/color.scss", "../common/breakpoints.scss";

.section {
  width: 1080px;
  margin: 0 auto;
  padding-bottom: 30px;
  @include md {width: 600px;}
  &__heading {
    position: relative;
    margin-top: 100px;
    margin-bottom: 45px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    &::before {
      position: absolute;
      top: -25px;
      left: 0;
      right: 0;
      margin: auto;
      content: attr(data-english);
      font-size: 25px;
      font-weight: 400;
      color: $pink;
    }
  }
}