@import "../common/color.scss", "../common/breakpoints.scss";

.section {
  width: $lg;
  margin: 0 auto;
  padding-bottom: 30px;
  @include md {width: $md;}
  @include sm {width: $sm;}
  &__heading {
    position: relative;
    margin-top: 100px;
    margin-bottom: 45px;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    @include sm {font-size: 34px;}
    &::before {
      position: absolute;
      top: -25px;
      left: 0;
      right: 0;
      margin: auto;
      content: attr(data-english);
      font-size: 25px;
      font-weight: 400;
      color: $pink;
      @include sm {
        top: -20px;
        font-size: 19px;}
    }
    &--feature {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 75px 0 55px;
      font-size: 50px;
      font-weight: 900;
      color: $pink;
      filter: drop-shadow(0 3px 3px rgba(#000, .2));
      @include sm {font-size: 28px; margin: 50px 0 30px;}
    }
    &Image {
      width: 330px;
      margin-bottom: 15px;
      @include sm {width: 190px; margin-bottom: 10px;}
    }
  }
}