@import "../common/dent.scss", "../common/breakpoints.scss";

.sns {
  display: flex;
  gap: 15px;
  @include md {flex-direction: column;}
  &__acount {
    @extend %dent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 40px;
    @include md {
      flex-direction: row;
      gap: 5px;}
    @include sm {padding: 20px;}
  }
  &__id {
    font-size: 25px;
    font-weight: 500;
    color: #00C4FD;
    @include sm {font-size: 18px;}
  }
  &__logo {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #00C4FD;
    font-size: 30px;
    color: #fff;
    line-height: 1.5;
    @include sm {
      width: 40px;
      height: 40px;}
  }
  &__tweets {
    @extend %dent;
    padding: 20px;
    iframe {
      width: 400px;
      height: 450px;
      @include md {
        width: 100%;
        height: 700px;
      }
    }
  }
}