@import "../common/dent.scss";

.sns {
  display: flex;
  gap: 15px;
  &__acount {
    @extend %dent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 40px;
  }
  &__id {
    font-size: 25px;
    font-weight: 500;
    color: #00C4FD;
  }
  &__logo {
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
    border-radius: 8px;
    background: #00C4FD;
    font-size: 30px;
    color: #fff;
    line-height: 1.5;
  }
  &__tweets {
    @extend %dent;
    padding: 20px;
  }
}