@mixin sm {
  @media screen and (max-width: 650px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 1220px) {
    @content;
  }
}

@mixin onlyMd {
  @media screen and (max-width: 1220px) and (min-width: 651px){
    @content;
  }
}

@mixin onlyLg {
  @media screen and (min-width: 1221px){
    @content;
  }
}

  $lg: 1080px;
  $md: 600px;
  $sm: 310px;